body{

	margin: 0px;
	padding: 0px;
	font: 12px/1.3 'Arial','Microsoft YaHei';
	color:#333333;
	background-color: #FFF;
}
::selection{
	
	color: white;
	background-color: #EB7350;
}
a{
	text-decoration:none;
	cursor:pointer;
}
.clearfix{
	
	height: 0px;
	overflow:hidden;
	display:block;
	font: 0px;
	clear: both;
}
